{% extends "base.html" %}

{% block content %}
    <h3>Welcome to the about page.</h3>
    <section class="about">
        <p>You probably want to know what this fuss is about; that's why you're here,
        in the about page. Right?</p>
        <p>Well, this is about replacing your source code indentation with a special
        character that doesn't get eaten up by Facebook. That means it's also about
        pasting source code on Facebook. That's it.</p>
        <p>So, when should you use this instead of Pastebin, Gist, et cetera? Most of the
        times you'll <i>want</i> and <i>need</i> to use Pastebin and Gist. But there are
        times you want to post a tiny piece of code, only to show something - it can be
        a doubt, or an answer to one. The problem arises when your code has indentation:
        Facebook will strip them out. This is when this website comes into action.</p>
        <p>I recently discovered* a unicode character that doesn't get stripped out
        by Facebook and is whitespace. I've been using this character ever since
        to post small snippets without losing indentation.</p>
        <p>Since I wanted people to know about this, I decided to build this simple,
        small site to present and automate the process of replacing space and tab
        characters with this one special character, called
        <a href="http://www.fileformat.info/info/unicode/char/3000/index.htm">Ideographic Space</a>.</p>
        <p>By the way, you don't really need to use the browser to achieve the
        functionality provided by this site. I've made another option available: if you
        send a request with an <b style="font-family: monospace;">Accept: text/plain</b>
        header, the response will contain <i>only</i> the replaced text. No HTML,
        no need to parse anything; just get it and use it. All you have to do is, define a
        <span style="font-family: monospace;">content</span>, an
        <span style="font-family: monospace;">indent-char</span> and an
        <span style="font-family: monospace;">indent-level</span> in your
        <span style="font-family: monospace;">POST</span> request and you're good to go.
        Check the home page forms to see input names and possible values.</p>
        <p>Please note that this website is hosted with a free plan; the number of requests
        the server can receive is limited by the host.</p>
        <p>I hope you can find usefulness in this site, and feel free to drop me a
        message any time if you feel like doing so. Thanks for your time. :)</p>
    </section>

    <div class="separator"></div>

    <section class="about">
        <h4>What did you mean by "discovered"?</h4>
        <p>I meant that, among the people I know, none of them knew - or seemed to know
        about this character and its 'special feature'. This world is full of people; there's
        somebody somewhere who already knew about it and how it can be used to indent on
        Facebook.</p>
    </section>
{% endblock %}
